In [1]:
import pandas as pd
import numpy as  np
import matplotlib as plt
import plotly as pt
import json

In [2]:
zipcounty = pd.read_csv('zipcodes_by_county.csv')

In [3]:
def removeCountyTail(string):
    return string.replace(' County', '').replace(' Municipio', '')

zipcounty['COUNTYNAME'].apply(removeCountyTail)

0                  Autauga
1                  Autauga
2                  Autauga
3                  Autauga
4                  Autauga
               ...
52884     St. Croix Island
52885     St. Croix Island
52886     St. Croix Island
52887      St. John Island
52888    St. Thomas Island
Name: COUNTYNAME, Length: 52889, dtype: object

In [4]:
zipcounty['COUNTYNAME'] = zipcounty['COUNTYNAME'].apply(removeCountyTail)

In [7]:
zipcounty.rename(columns = {'ZIP':'zip' , 'STATE':'state'}, inplace=True)

In [13]:
zipcounty.head()

     zip COUNTYNAME state  STCOUNTYFP CLASSFP
0  36003    Autauga    AL        1001      H1
1  36006    Autauga    AL        1001      H1
2  36067    Autauga    AL        1001      H1
3  36066    Autauga    AL        1001      H1
4  36703    Autauga    AL        1001      H1

In [24]:
zipcounty.set_index('zip', inplace=True)

In [25]:
zipcounty.loc['40513']

      COUNTYNAME state  STCOUNTYFP CLASSFP
zip
40513    Fayette    KY       21067      H6
40513   Woodford    KY       21239      H1

In [9]:
zipcounty.dtypes

zip            int64
COUNTYNAME    object
state         object
STCOUNTYFP     int64
CLASSFP       object
dtype: object

In [10]:
zipcounty['zip'] = zipcounty['zip'].astype('str')
zipcounty['zip'] = ['00' + x if len(x) < 4 else '0' + x if len(x) < 5 else x[:5] if len(x) > 5 else x for x in zipcounty['zip']]

In [20]:
zipcounty[zipcounty.zip == '80488']

Empty DataFrame
Columns: [zip, COUNTYNAME, state, STCOUNTYFP, CLASSFP]
Index: []

In [21]:
zipcounty.isnull().count()

zip           52889
COUNTYNAME    52889
state         52889
STCOUNTYFP    52889
CLASSFP       52889
dtype: int64

In [16]:
zipcounty.to_csv('zipcodes_by_county_clean.csv')